@import url("https://fonts.googleapis.com/css?family=Inter:700|Inter:400");

body {
  font-family: "Inter";
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Inter";
  font-weight: 700;
}

html {
  font-size: 100%;
  margin: 0;
  padding: 0;
} /* 16px */

h1 {
  font-size: 3.366rem; /* 53.92px */
}

h2 {
  font-size: 2.525rem; /* 40.32px */
}

h3 {
  font-size: 1.894rem; /* 30.24px */
}

h4 {
  font-size: 1.421rem; /* 22.72px */
}

h5 {
  font-size: 1.066rem; /* 17.12px */
}

small {
  font-size: 0.6rem; /* 9.6px */
}

:root {
  --text: #fbfbfe;
  --background: #fbfbfe;
  --primary: #2f27ce;
  --secondary: #dddbff;
  --accent: #0600c2;
  --accent-glow: #332cff59;
  --dark-accent: #443dff;
  --dark-primary: #3a31d8;
  --dark-background: #0e0e1a;
  --dark-secondary: #020024;
}

#root {
  width: 100vw;
  max-width: 100%;
}

.dark nav {
  background-color: var(--dark-background);
}

nav {
  position: fixed;
  z-index: 100;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  border-bottom: 1px solid var(--dark-primary);
  background-color: var(--background);
}

nav p {
  cursor: default;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  list-style: none;
}

nav ul i {
  font-size: 1.2em;
}

nav ul a {
  padding: 10px 20px;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  transition: 200ms ease-out;
}

nav ul a:hover {
  border-bottom: 1px solid var(--primary);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

main .cta-container {
  max-width: 1200px;
  margin: 0 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 30px;
}

main .cta-container h1 {
  margin-bottom: 10px;
}

.cta-container .container p {
  max-width: 600px;
  text-align: center;
}

.cta-container button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: var(--primary);
  color: var(--text);
  font-size: 1.033em;
  cursor: pointer;
}

.cta-container button:hover {
  background-color: var(--accent);
}

.tech-stack {
  padding: 10px 0px 30px 0px;
  display: grid;
  grid-template-columns: repeat(6, 80px);
  justify-content: center;
  justify-items: center;
  gap: 15px 0px;
}

.tech-stack img:hover {
  background-color: var(--accent-glow);
  border-radius: 13px;
  -webkit-box-shadow: 0px 0px 20px 8px var(--accent-glow);
  -moz-box-shadow: 0px 0px 20px 8px var(--accent-glow);
  box-shadow: 0px 0px 20px 8px var(--accent-glow);
}

.project-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0rem 0rem 5rem 0rem;
  gap: 10px;
}

.container {
  min-width: 600px;
}

.container .img-container {
  width: auto;
  height: 300px;
}

.img-container img {
  height: 300px;
  width: auto;
}

.link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.link-container div {
  display: flex;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin: 5rem;
}

form textarea {
  min-width: 600px;
  min-height: 200px;
  padding: 10px;
  font-size: 1.033rem;
  resize: vertical;
  border-radius: 5px;
}

form input {
  min-width: 600px;
  padding: 10px;
  font-size: 1.033rem;
  border-radius: 5px;
}

form button {
  min-width: 620px;
  min-height: 50px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--primary);
  color: var(--text);
  font-size: 1.033em;
  cursor: pointer;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  border-top: 1px solid var(--primary);
  padding: 10px 0px;
}

a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  text-decoration: none;
  color: black;
  padding: 2px;
}

a i {
  font-size: 24px;
  text-align: center;
}

.footer-container div a p {
  margin: 2px;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 800px;
}

.dark {
  background-color: var(--dark-background);
  color: var(--text);
  transition: 300ms ease-in;
}

.dark a {
  color: var(--text);
}

#calculator {
  background: url("./assets/calc.png");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  border: none;
}

#library {
  background: url("./assets/library.png");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

#members-only {
  background: url("./assets/members-only.png");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

#weather {
  background: url("./assets/weather.png");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

@media only screen and (max-width: 1024px) {
  nav ul {
    gap: 0px;
    padding: 0px;
  }

  .tech-stack {
    grid-template-columns: repeat(2, 100px);
  }

  main {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container .img-container {
    width: 300px;
    height: 200px;
  }

  .container {
    min-width: 0;
  }

  .project-container {
    grid-template-columns: 300px;
  }

  .cta-container h1 {
    text-align: center;
    margin-top: 150px;
  }

  form {
    margin: 0px;
  }

  form input {
    min-width: 300px;
  }

  form textarea {
    min-width: 300px;
  }

  form button {
    min-width: 300px;
  }
}
